---
import Layout from "../layouts/Layout.astro";
---

<style>
    main {
        margin-top: 72px;
        display: grid;
        place-items: center;
        min-height: 100vh;
    }

    .intro > h1 {
        margin: 0;
        font-size: 64px;
        font-weight: 700;
        color: var(--color-white);
    }

    .intro > p {
        font-weight: 400;
        font-size: 24px;
        color: var(--color-white-dimmed);
    }

    .form {
        display: grid;
        gap: 16px;
        width: 100%;
        max-width: 900px;
    }

    .field-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .field, .message, .submit {
        color: var(--color-white-dimmed);
        border: 1px solid var(--color-white-dimmed);
        border-radius: 8px;
        padding: 8px 16px;
        background: transparent;
    }

    .message {
        height: 180px;
    }

    .submit {
        font-size: 14px;
        font-weight: 600;
        justify-self: center;
        padding: 8px 16px;
        width: max-content;
        cursor: pointer;
        transition: all 0.25s ease-in;
    }

    .submit:hover {
        background: var(--brand-color);
    }

    @media (max-width: 600px) {
        .form {
            flex-grow: 1;
            height: 100%;
        }

        .field-container {
            grid-template-columns: none;
        }

        .intro > h1 {
            margin: 0;
            font-size: 32px;
            font-weight: 700;
            color: var(--color-white);
        }

        .intro > p {
            font-weight: 400;
            font-size: 18px;
            color: var(--color-white-dimmed);
        }
    }
</style>

<Layout title="Contact">
    <main>
        <div class="intro">
            <h1>
                Thanks for reaching out.
            </h1>
    
            <p>How can I help?</p>
        </div>

        <form class="form">
            <div class="field-container">
                <input
                    name="name"
                    type="text"
                    class="field"
                    placeholder="Name"
                />

                <input
                    name="email"
                    type="email"
                    class="field"
                    placeholder="Email"
                />
            </div>

            <textarea
                name="message"
                class="message"
                placeholder="Message"
            />

            <button type="submit" class="submit">
                Submit
            </button>
        </form>
    </main>
</Layout>